<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Μπράβο είσαι η καλύτερη!</h1>
            Έγινε εγγραφή για το χρήστη με email <strong>{{ userEmail }}</strong>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
